<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google stuff -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="1044675055259-dtg2j9c75uuapbu73qukltu25ptuirql.apps.googleusercontent.com">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script src="login.js" defer></script>

    <title>Login RTHealth</title> 


    
</head>
<body>
    <div id="header">
        <h1>Welcome to RTHealth</h1>
    </div>

    <!-- google login button -->
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <button onclick="signOut()">signout</button>
    
</body>
</html>