<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="/socket.io/socket.io.js" defer></script>
    <script src="main.js" defer></script>

    <title>Document</title> 


    
</head>
<body>
    <div id="header">
        <h1>This is RTHealth</h1>
    </div>

    <div id="mid">
        <div id="room_input">
            <input type="text" id="room_text_input" value="super amazing room">
            <button onclick="get_room_name()">enter</button>
        </div>
    </div>
    
</body>
</html>