<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="/socket.io/socket.io.js" defer></script>
    <!-- google -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="1044675055259-dtg2j9c75uuapbu73qukltu25ptuirql.apps.googleusercontent.com">

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="main.js" defer></script>

    <title>Document</title> 


    
</head>
<body>
    <div id="header">
        <h1>This is RTHealth</h1>
    </div>

    <div id="mid">
        <div id="room_input">
            <input type="text" id="room_text_input" placeholder="enter room name here">
            <button onclick="get_room_name()">enter</button>
        </div>
    </div>

    <button onclick="signOut()">signout</button>
    
</body>
</html>