<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.3.3/dist/handlebars.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Document</title>


    <style>
        #video-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, 300px);
            grid-auto-rows: 300px;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
</head>

<body>
    <div class="container">
        <div id="video-grid" style="margin-bottom: 20px;"></div>
        <div id="textchat" class="container">
            <div class="overflow-auto" style="max-width: 540px; max-height: 200px;">
                <table id="message_board" class="table">
                    <tr>
                        <td>name</td>
                        <td>testing message</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>testing message</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>testing message</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>testing message</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>testing message</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>testing message</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>testing message</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>testing message</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>testing message</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>testing message</td>
                    </tr>
                </table>


            </div>
            <input type="text" id="chat_text_input" placeholder="Type you message">
            <button onclick="send_message()">send</button>
        </div>
        
        <div id="res_buttons">
            <div class="btn-group" id="res_buttons">
                <button type="button" class="btn btn-primary" onclick="changeres('240px', '320')">240p</button>
                <button type="button" class="btn btn-primary" onclick="changeres('480px', '640')">480p</button>
                <button type="button" class="btn btn-primary" onclick="changeres('720px', '1280')">720p</button>
                <button type="button" class="btn btn-primary" onclick="changeres('1080px', '1920')">1080p</button>
            </div>
        </div>
        <div id="footer">
            <button id="pause_button" onclick="pause_unpause()">pause</button>
            <button onclick="exit_room()">exit</button>
        </div>
        
    </div>
</body>

</html>